<%= bootstrap_form_for(@node, remote: true, accept: :json) do |f| %>
	<%= render "node_fields", f: f %>
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<%= hidden_field_tag(:source, 'tree') %>
  <%= f.submit("Update", class: 'btn btn-primary') %>
<% end %>