@import "bootstrap-sprockets";
@import "paper.min";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-treeview";
@import "jquery-orgchart";
@import 'loading_mask_sass';
@import "selectize";

.orgchart .node .title {
  height: initial;
  white-space: initial;
}

#tree-hierarchy {
  overflow: scroll;

  .orgchart { border: 1px solid lightgray;}
}

.alert-error {
  @extend .alert-danger;
}

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-success;
}

body {
  background-color: #e0ebeb;
}

.container-fluid#content, .container#login, .container#content  {
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  margin-bottom: 20px;
}

.bg-info {
  background-color: #d9edf7;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

#current_page {
  background-color: #0073e6;
  font-weight: bold;
}
