@import "bootstrap-sprockets";
@import "paper.min";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-treeview";
@import "jquery-orgchart";
@import 'loading_mask_sass';
@import "selectize";

.orgchart .node .title {
  height: initial;
  white-space: initial;
}

#tree-hierarchy {
  overflow: scroll;

  .orgchart { border: 1px solid lightgray;}
}

.alert-error {
  @extend .alert-danger;
}

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-success;
}

body {
  background-color: #e0ebeb;
}

.container-fluid#content, .container#login, .container#content  {
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  margin-bottom: 20px;
}

.bg-info {
  background-color: #d9edf7;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

#current_page {
  background-color: #0073e6;
  font-weight: bold;
}

// show the nodes owned by the currently logged-in user in a different colour
.orgchart .owned-by-current-user .title {
  background-color: #009933;
}
.orgchart .owned-by-current-user .content {
  border-color: #009933;
}

textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
    -webkit-box-shadow: inset 0 -2px 0 #ddd;
    box-shadow: inset 0 -2px 0 #ddd;
}
