@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-treeview";
@import "jquery-orgchart";
@import 'loading_mask_sass';



.orgchart .node .title {
  height: initial;
  white-space: initial;
}

#tree-hierarchy {
  overflow: scroll;

  .orgchart { border: 1px solid lightgray;}
}