<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Programs</h3>
  </div>

  <div class="panel-body">

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="fa fa-search"></span></span>
      <input id="project-search" type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
    </div>

    <hr />

    <div id="tree" data-turbolinks-permanent>
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</div>